.classpath
.project
.settings
.idea
.pmd
target/
notes/
build/
private/
node_modules/
coverage/
node/
Thumbs.db
.DS_Store
.DS_Store?
.brackets.json
*~
nb-actions*.xml
nbactions*.xml
nb-configuration.xml
*.swp
*.iml
.idea
*.ipr
*.iws
